.progenitorCard {
    background-color: rgb(27, 42, 59);
    flex: 1 1 200px;
    max-width: 220px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border: 2px outset rgb(27, 42, 59);
}

.progenitorCard-image {
    width: 100%;
    height: auto;
}

.progenitor-cards {
    overflow-y: auto;
}

.progenitor-tab {
    background-image: url("/assets/backgrounds/progenitors.png");
    /* height: 100%; */
    background-size: cover;
    background-attachment: fixed;
}