.progenitorCard {
    background-color: rgb(27, 42, 59);
    width: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border: 2px outset rgb(27, 42, 59);
}

.progenitorCard-image {
    width: 175px;
}

.progenitor-tab {
    background-image: url("/assets/backgrounds/progenitors.png");
    height: 100%;
}