.nav-color {
    background-color: #ccc;
    color: black;
}

.nav-link {
    color: black;
    border: 1px solid black;
}

.nav-link active {
    background-color: #777;
}

.nav-link:hover {
    background-color: #fff;
    color: black;
}

.weapon-button {
    background-color: rgb(27, 42, 59);
    width: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    color: white;
}

.weapon-button:hover {
    cursor: pointer;
}

.weapon-button--checkbox {
    display: none;
}

.progenitorCard {
    background-color: rgb(27, 42, 59);
    width: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.progenitorCard-image {
    width: 125px;
}

.progenitorCard-header {
    display: flex;
}

.hidden {
    display: none;
}

.elements-bar {
    background-color: #888;
    border-radius: 5px;
}

.element-button {
    background-color: white;
    border-radius: 5px 5px 0 0;
    border: 1px solid white;
    margin: 0 2px;
}

.element-button:hover {
    cursor: pointer;
}

.element-button:active {
    border: 1px inset black;
}

.element-button--selected {
    background-color: rgb(27, 42, 59);
    border: 1px solid rgb(27, 42, 59);
}

.text-gold {
    color: gold;
}

.text-grey {
    color: #aaa;
}